.preview {
    display: block;
    height: fit-content;
    padding: 18px 18px 18px 18px;
    width: 340px!important;
    font-size: 0.9rem;
    box-sizing: border-box;
    background-clip: content-box;
    margin: auto;
}

#name-preview {
    display: block;
    font-size: 1.05rem;
    margin-top: 6px;
    width: 190px;
    /* height: 40px; */
    overflow-wrap: break-word;
}

#course-preview {
    font-size: 0.7rem;
    margin-top: 16px;
    width: 190px;
    /* height: 40px; */
    overflow-wrap: break-word;
}

#inner-container {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 236px;
    max-height: 340px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#address-preview {
    width: 210px;
    overflow-wrap: break-word;
}

#secondary-details {
    font-size: 0.8rem;
    margin-top: 12px;
}

#logo-preview {
    height: 50px;
    width: 50px;
}

#school-name-preview {
    font-size: 1.1rem;
    overflow-wrap: break-word;
    text-align: center;
}

#header-line {
    margin: auto;
    height: 2px;
    width: 220px;
    background-color: rgb(71, 71, 71);
}

#image-holder {
    width: 230px;
    height: 230px;
    background-color: white;
}

#image-container {
    width: 230px;
    height: 230px;
}